h1{
	width: 50%;
	margin: 0 25%;
	text-align: center;
}
nav {
	position: absolute;
	right: 10px;
	background-color: purple;
}
.greenf {
	color: green;
}
.colorf {
	color: #33FFC7;
}	
#big {
	font-size:60px
}
/*starting nav css*/
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li:hover {
	background-color: yellow;
}

nav ul li a:hover {
	color: black
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	padding: 0 5px;
	text-decoration: none;
	color:white;
}

